<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>accesoSERVLETXML</servlet-name>
        <servlet-class>Controladores.accesoSERVLETXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aperturaSERVLETXML</servlet-name>
        <servlet-class>Controladores.aperturaSERVLETXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giroSERVLETXML</servlet-name>
        <servlet-class>Controladores.giroSERVLETXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recargaSERVLETXML</servlet-name>
        <servlet-class>Controladores.recargaSERVLETXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accesouserSERVLETXML</servlet-name>
        <servlet-class>Controladores.accesouserSERVLETXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ventasSERVLET</servlet-name>
        <servlet-class>Controladores.ventasSERVLET</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accesoSERVLETXML</servlet-name>
        <url-pattern>/accesoSERVLETXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aperturaSERVLETXML</servlet-name>
        <url-pattern>/aperturaSERVLETXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giroSERVLETXML</servlet-name>
        <url-pattern>/giroSERVLETXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recargaSERVLETXML</servlet-name>
        <url-pattern>/recargaSERVLETXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesouserSERVLETXML</servlet-name>
        <url-pattern>/accesouserSERVLETXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ventasSERVLET</servlet-name>
        <url-pattern>/ventasSERVLET</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error501.jsp</location>
    </error-page>
</web-app>
