<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cajadaoimple</servlet-name>
        <servlet-class>DAOIMPLE.cajadaoimple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cajacontrol</servlet-name>
        <servlet-class>Controladores.cajacontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargoscontrol</servlet-name>
        <servlet-class>Controladores.cargoscontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ciudadescontrol</servlet-name>
        <servlet-class>Controladores.ciudadescontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>perfilescontrol</servlet-name>
        <servlet-class>Controladores.perfilescontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>marcascontrol</servlet-name>
        <servlet-class>Controladores.marcascontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorcontrol</servlet-name>
        <servlet-class>Controladores.buscadorcontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procedenciascontrol</servlet-name>
        <servlet-class>Controladores.procedenciascontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriascontrol</servlet-name>
        <servlet-class>Controladores.categoriascontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estadocontrol</servlet-name>
        <servlet-class>Controladores.estadocontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estantescontrol</servlet-name>
        <servlet-class>Controladores.estantescontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impuestocontrol</servlet-name>
        <servlet-class>Controladores.impuestocontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>motivoajucontrol</servlet-name>
        <servlet-class>Controladores.motivoajucontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>motivomercontrol</servlet-name>
        <servlet-class>Controladores.motivomercontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sectorescontrol</servlet-name>
        <servlet-class>Controladores.sectorescontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unimedicontrol</servlet-name>
        <servlet-class>Controladores.unimedicontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientescontrol</servlet-name>
        <servlet-class>Controladores.clientescontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sucursalcontrol</servlet-name>
        <servlet-class>Controladores.sucursalcontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depositocontrol</servlet-name>
        <servlet-class>Controladores.depositocontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorGenerico</servlet-name>
        <servlet-class>Controladores.buscadorGenerico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>presupuestocompracontrol</servlet-name>
        <servlet-class>Controladores.presupuestocompracontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accservlet</servlet-name>
        <servlet-class>Controladores.accservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedidoventacontrol</servlet-name>
        <servlet-class>Controladores.pedidoventascontrol</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cajadaoimple</servlet-name>
        <url-pattern>/cajadaoimple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cajacontrol</servlet-name>
        <url-pattern>/cajacontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargoscontrol</servlet-name>
        <url-pattern>/cargoscontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ciudadescontrol</servlet-name>
        <url-pattern>/ciudadescontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfilescontrol</servlet-name>
        <url-pattern>/perfilescontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>marcascontrol</servlet-name>
        <url-pattern>/marcascontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorcontrol</servlet-name>
        <url-pattern>/buscadorcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procedenciascontrol</servlet-name>
        <url-pattern>/procedenciascontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriascontrol</servlet-name>
        <url-pattern>/categoriascontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estadocontrol</servlet-name>
        <url-pattern>/estadocontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estantescontrol</servlet-name>
        <url-pattern>/estantescontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impuestocontrol</servlet-name>
        <url-pattern>/impuestocontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>motivoajucontrol</servlet-name>
        <url-pattern>/motivoajucontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>motivomercontrol</servlet-name>
        <url-pattern>/motivomercontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sectorescontrol</servlet-name>
        <url-pattern>/sectorescontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unimedicontrol</servlet-name>
        <url-pattern>/unimedicontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientescontrol</servlet-name>
        <url-pattern>/clientescontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sucursalcontrol</servlet-name>
        <url-pattern>/sucursalcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depositocontrol</servlet-name>
        <url-pattern>/depositocontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorGenerico</servlet-name>
        <url-pattern>/buscadorGenerico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>presupuestocompracontrol</servlet-name>
        <url-pattern>/presupuestocompracontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accservlet</servlet-name>
        <url-pattern>/accservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedidoventacontrol</servlet-name>
        <url-pattern>/pedidoventacontrol</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
